%h1 Listing admins

%table
  %thead
    %tr
      %th Name
      %th Username
      %th
      %th
      %th

  %tbody
    - @admins.each do |admin|
      %tr
        %td= admin.name
        %td= admin.username
        %td= link_to 'Show', admin
        %td= link_to 'Edit', edit_admin_path(admin)
        %td= link_to 'Destroy', admin, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Admin', new_admin_path
