<!-- filter selector -->
%div{:class => "dropdown theme-dropdown clearfix"}
  %button{:class => "btn btn-default dropdown-toggle", :type => "button", :'data-toggle' => "dropdown"}
    Filter by...
  %form{:id => "filter-selector", :class => "dropdown-menu", :action => "about", :method => "GET"}

<!-- filters -->
%form{:id => "filter-form"}
  %table{:id => "filter-table", :class => "table table-striped"}
  %input{:id => "filter-apply", :type => "submit", :value => "Apply Filters", :class => "btn btn-default"}

<!-- matrices -->
%table{:id => "matrices", :class => "table table-striped"}
  %thead
    %tr
      %th Group/Name
      %th Num Rows
      %th Num Cols
      %th Nonzeros
      %th Kind
      %th Symmetric
      %th Date
      %th Author
      %th Editor
      %th Notes
      %th Download File
  %tbody
    - @matrices.each do |matrix|
      %tr
        %td= link_to "#{matrix.group}/#{matrix.name}", matrix_path(matrix)
        %td= number_with_delimiter(matrix.num_rows, :delimiter => ',')
        %td= number_with_delimiter(matrix.num_cols, :delimiter => ',')
        %td= number_with_delimiter(matrix.nonzeros, :delimiter => ',')
        %td= matrix.kind
        %td= matrix.symmetric
        %td= matrix.date
        %td= matrix.author
        %td= matrix.editor
        %td= matrix.notes
        %td
          = link_to "MATLAB", matrix.get_url(:matlab), class: "btn btn-default"
          = link_to "Rutherford Boeing", matrix.get_url(:rutherford_boeing), class: "btn btn-default"
          = link_to "Matrix Market", matrix.get_url(:matrix_market), class: "btn btn-default"
    %tr
      %td{:colspan => 42, :align => "center"}
        = will_paginate @matrices, renderer: BootstrapPagination::Rails

%script{:type => "text/javascript"}
  :plain
    generateFilters([
      ['Group', 'string'],
      ['Name', 'string'],
      ['Rows', 'int'],
      ['Columns', 'int'],
      ['Nonzeros', 'int'],
      ['Kind', 'string'],
      ['Symmetric', 'boolean'],
      ['Date', 'int'],
      ['Author', 'string'],
      ['Editor', 'string'],
      ['Notes', 'string'],
    ]);
