%h1 Matrices#index

%table{:id => "matrices", :class => "table table-striped"}
  %thead
    %tr
      %th Group/Name
      %th Num Rows
      %th Num Cols
      %th Nonzeros
      %th Kind
      %th Symmetric
      %th Date
      %th Author
      %th Editor
      %th Notes
      %th Matlab URL
      %th Rutherford Boeing URL
      %th Matrix Market URL
      %th Type
  %tbody
    - @matrices.each do |matrix|
      %tr
        %td= link_to "#{matrix.group}/#{matrix.name}", matrix_path(matrix)
        %td= matrix.num_rows
        %td= matrix.num_cols
        %td= matrix.nonzeros
        %td= matrix.kind
        %td= matrix.symmetric
        %td= matrix.date
        %td= matrix.author
        %td= matrix.editor
        %td= matrix.notes
        %td= matrix.matlab_url
        %td= matrix.rutherford_boeing_url
        %td= matrix.matrix_market_url
        %td= matrix.type
