<!-- filter selector -->
%div{:class => "dropdown theme-dropdown clearfix"}
  %button{:class => "btn btn-default dropdown-toggle", :type => "button", :'data-toggle' => "dropdown", :'data-placement' => "right"}
    Filter by...
  %form{:id => "filter-selector", :class => "dropdown-menu", :action => "about", :method => "GET"}

<!-- filters -->
%form{:id => "filter-form"}
  %table{:id => "filter-table", :class => "table table-striped"}
  %input{:id => "filter-apply", :type => "submit", :value => "Apply Filters", :class => "btn btn-default"}

<!-- matrices -->
%table{:id => "matrices", :class => "table table-striped"}
  %thead
    %tr
      %th{:class => getStyle('group')}= link_to "Group", matrices_path(:sort => '"group"'), :id => 'group'
      %th{:class => getStyle('name')}= link_to "Name", matrices_path(:sort => 'name'), :id => 'name'
      %th{:class => getStyle('num_rows')}= link_to "Num Rows", matrices_path(:sort => 'num_rows'), :id => 'num_rows'
      %th{:class => getStyle('num_cols')}= link_to "Num Cols", matrices_path(:sort => 'num_cols'), :id => 'num_cols'
      %th{:class => getStyle('nonzeros')}= link_to "Nonzeros", matrices_path(:sort => 'nonzeros'), :id => 'nonzeros'
      %th{:class => getStyle('kind')}= link_to "Kind", matrices_path(:sort => 'kind'), :id => 'kind'
      %th{:class => getStyle('date')}= link_to "Date", matrices_path(:sort => 'date'), :id => 'date'
      %th Download File
  %tbody
    - @matrices.each do |matrix|
      %tr
        %td= link_to "#{matrix.group}", matrix_path(matrix)
        %td= link_to "#{matrix.name}", matrix_path(matrix)
        %td= number_with_delimiter(matrix.num_rows, :delimiter => ',')
        %td= number_with_delimiter(matrix.num_cols, :delimiter => ',')
        %td= number_with_delimiter(matrix.nonzeros, :delimiter => ',')
        %td= matrix.kind.titleize unless matrix.kind.nil?
        %td= matrix.date
        %td
          = link_to "MATLAB", matrix.get_url(:matlab), class: "btn btn-default"
          = link_to "Rutherford Boeing", matrix.get_url(:rutherford_boeing), class: "btn btn-default"
          = link_to "Matrix Market", matrix.get_url(:matrix_market), class: "btn btn-default"
    %tr
      %td{:colspan => 42, :align => "center"}
        = will_paginate @matrices, renderer: BootstrapPagination::Rails

%script{:type => "text/javascript"}
  :plain
    generateFilters([
      ['Group', 'string'],
      ['Name', 'string'],
      ['Rows', 'int'],
      ['Columns', 'int'],
      ['Nonzeros', 'int'],
      ['Kind', 'string'],
      ['Symmetric', 'bool'],
      ['Date', 'int'],
      ['Author', 'string'],
      ['Editor', 'string'],
      ['Notes', 'string'],
    ]);
