<!-- Set up the filter selector -->
%div{:class => "dropdown theme-dropdown clearfix"}
  %button{:class => "btn btn-default dropdown-toggle", :type => "button", :'data-toggle' => "dropdown"}
    Filter by...
  %form{:id => "filter-selector", :class => "dropdown-menu", :action => "about", :method => "GET"}

<!-- Set up the filter form -->
%form{:id => "filter-form"}
  %table{:id => "filter-table", :class => "table"}
  %input{:id => "filter-apply", :type => "submit", :value => "Apply Filters", :class => "btn btn-default"}

<!-- Layout the matrix table -->
%table{:id => "matrices", :class => "table table-striped"}
  %thead
    %tr{:id => 'sort-selector'}
      %th{:id => 'download-header'} Download File
  %tbody
    - @matrices.each do |matrix|
      %tr
        %td= link_to "#{matrix.group}", matrix_path(matrix)
        %td= link_to "#{matrix.name}", matrix_path(matrix)
        %td= number_with_delimiter(matrix.num_rows, :delimiter => ',')
        %td= number_with_delimiter(matrix.num_cols, :delimiter => ',')
        %td= number_with_delimiter(matrix.nonzeros, :delimiter => ',')
        %td= matrix.kind.titleize unless matrix.kind.nil?
        %td= matrix.date
        %td
          = link_to "MATLAB", matrix.get_url(:matlab), class: "btn btn-default"
          = link_to "Rutherford Boeing", matrix.get_url(:rutherford_boeing), class: "btn btn-default"
          = link_to "Matrix Market", matrix.get_url(:matrix_market), class: "btn btn-default"
    %tr
      %td{:colspan => 42, :align => "center"}
        = will_paginate @matrices, renderer: BootstrapPagination::Rails

<!-------------------------- Scripted Generation ------------------------------>

<!-- Create the filters -->
:javascript
  generateFilters(#{Matrix.filterable_attributes});
  $(function() {$('[data-toggle="tooltip"]').tooltip()});
  hideFilters();

<!-- Create the sorters -->
:javascript
  generateSorters(#{Matrix.sortable_attributes});

<!-- Highlight the sort attribute if there is one -->
- if !params[:sort].nil?
  :javascript
    highlightSortAttribute("#{params[:sort]}");
