
%table{:id => "matrices", :class => "table table-striped"}
  %thead
    %tr
      %th Group/Name
      %th Num Rows
      %th Num Cols
      %th Nonzeros
      %th Kind
      %th Symmetric
      %th Date
      %th Author
      %th Editor
      %th Notes
      %th Download File
  %tbody
    - @matrices.each do |matrix|
      %tr
        %td= link_to "#{matrix.group}/#{matrix.name}", matrix_path(matrix)
        %td= number_with_delimiter(matrix.num_rows, :delimiter => ',')
        %td= number_with_delimiter(matrix.num_cols, :delimiter => ',')
        %td= number_with_delimiter(matrix.nonzeros, :delimiter => ',')
        %td= matrix.kind
        %td= matrix.symmetric
        %td= matrix.date
        %td= matrix.author
        %td= matrix.editor
        %td= matrix.notes
        %td
          = link_to "MATLAB", matrix.matlab_url, class: "btn btn-default"
          = link_to "Rutherford Boeing", matrix.rutherford_boeing_url, class: "btn btn-default"
          = link_to "Matrix Market", matrix.matrix_market_url, class: "btn btn-default"
