%h1 Submit a New Matrix
= form_for :matrix, method: "post", url: "create" do |f|
  %h2 Submitter Information
  %table{class: "table"}
    %tr
      %th
        %label{for: "submitter-name"} Name
      %td
        = f.text_field :submitter_name, class: "form-control"
    %tr
      %th
        %label{for: "submitter-email"} Email
      %td
        = f.email_field :submitter_email, class: "form-control"

  %h2 Matrix Information
  %table{class: "table"}
    %tr
      %th
        %label{for: "matrix-name"} Name
      %td
        = f.text_field :matrix_name, class: "form-control"
    %tr
      %th
        %label{for: "matrix-kind"} Kind/problem domain
      %td
        = f.text_field :matrix_kind, class: "form-control"
    %tr
      %th
        %label{for: "matrix-author"} Author
      %td
        = f.text_field :matrix_author, class: "form-control"
    %tr
      %th
        %label{for: "matrix-editor"} Editor
      %td
        = f.text_field :matrix_editor, class: "form-control"
    %tr
      %th
        %label{for: "matrix-notes"} Notes
      %td
        = f.text_area :matrix_notes, class: "form-control", rows: "8", placeholder: "Enter notes here"
    %tr
      %th
        %label{for: "matrix-reference"} Bibliographic Reference
      %td
        = f.text_area :matrix_notes, class: "form-control", rows: "2", placeholder: "Enter bibliographic reference here"
    %tr
      %th
        %label{for: "matrix-data-file"} Matrix File Upload
      %td
        = f.file_field :matrix_data_file
    %tr
      %td
        = show_simple_captcha
  = submit_tag("Submit My Matrix")
