=provide(:title, "Submit Matrix")

%h1 Submit a New Matrix
= form_for :matrix, method: "post", url: "create" do |f|
  %h2 Submitter Information
  %table{class: "table"}
    %tr
      %th
        %label{for: "submitter-name"} Name
      %td
        = f.text_field :submitter_name, class: "form-control"
    %tr
      %th
        %label{for: "submitter-email"} Email
      %td
        = f.email_field :submitter_email, class: "form-control"
    %tr
      %th
        %label{for: "display-email"} Have this email displayed publically?
      %td
        = f.select :display_email, [['Display Publically', true], ['Hide', false]]

  %h2 Matrix Information
  %table{class: "table"}
    %tr
      %th
        %label{for: "matrix-name"} Matrix Name
      %td
        = f.text_field :name, class: "form-control"
    %tr
      %th
        %label{for: "matrix-kind"} Kind/problem domain
      %td
        = f.select(:kind, @kinds)
    %tr
      %th
        %label{for: "matrix-notes"} Notes
      %td
        = f.text_area :notes, class: "form-control", rows: "8", placeholder: "Enter Notes Here: Bibliographic Information, Nature of Problem, Supplemental Information, etc."
    %tr
      %th
        %label{for: "submitter-url"} Matrix File URL
      %td
        = f.text_field :submitter_url, class: "form-control"
    %tr
      %td
        = show_simple_captcha
  = submit_tag("Submit My Matrix")
%br
%br
