=provide(:title, "Submit Matrix")

:javascript
  var warnMessage = "";

  $(document).ready(function() {
      $('input:not(:button,:submit),textarea').change(function () {
          window.onbeforeunload = function () {
              if (warnMessage != null) return warnMessage;
          }
      });
      $('input:submit').click(function(e) {
          warnMessage = null;
      });
  });

%h1 Submit a New Matrix
= form_for :matrix, method: "post", url: "submit" do |f|
  %h2 Submitter Information
  %table{class: "table"}
    %tr
      %th{style: "width: 30%"}
        %label{for: "submitter-name"} Name
      %td
        = f.text_field :submitter_name, class: "form-control", maxlength: "100"
    %tr
      %th
        %label{for: "submitter-email"} Email
      %td
        = f.email_field :submitter_email, class: "form-control", maxlength: "100"
    %tr
      %th
        %label{for: "display-email"} Have this email displayed publically?
      %td
        = f.select :display_email, [['Display Publically', true], ['Hide', false]]

  %h2 Matrix Information
  %table{class: "table"}
    %tr
      %th{style: "width: 30%"}
        %label{for: "matrix-name"} Matrix Name
      %td
        = f.text_field :name, class: "form-control", placeholder: "A unique name for your matrix", maxlength: "100"
    %tr
      %th
        %label{for: "matrix-kind"} Kind/problem domain
      %td
        = f.select(:kind, @kinds)
    %tr
      %th
        %label{for: "matrix-notes"} Notes
      %td
        = f.text_area :notes, class: "form-control", rows: "8", placeholder: "Bibliographic Information, Nature of Problem, Application, Numerical Issues, Matrix Creator, Why is it Interesting?", maxlength: "5000"
    %tr
      %th
        %label{for: "submitter-url"} Matrix File URL
      %td
        = f.text_field :submitter_url, class: "form-control", placeholder: "URL of matrix data file (Matrix Market, MATLAB, or Rutherford-Boeing format)", maxlength: "200"
    %tr
      %th
        %label{for: "submitter-confidentiality"} Do you grant permission to display this matrix publically?
      %td
        = f.select :submitter_confidentiality, [['Display Publically', false], ['Not for Public Release', true]]
    %tr
      %td
        = recaptcha_tags
  = submit_tag("Submit My Matrix")
%br
%br
