%h1 Submit a New Matrix
= form_for :matrix, method: "post", url: "create" do |f|
  %h2 Submitter Information
  %table{class: "table"}
    %tr
      %th
        %label{for: "submitter-name"} Name
      %td
        = f.text_field :submitter_name, class: "form-control"
    %tr
      %th
        %label{for: "submitter-email"} Email
      %td
        = f.email_field :submitter_email, class: "form-control"
    %tr
      %th
        %label{for: "display-email"} Have this email displayed publically?
      %td
        = f.check_box :display_email, class: "form-control"

  %h2 Matrix Information
  %table{class: "table"}
    %tr
      %th
        %label{for: "matrix-group"} Group
      %td
        = f.text_field :group, class: "form-control"
    %tr
      %th
        %label{for: "matrix-name"} Matrix Name
      %td
        = f.text_field :name, class: "form-control"
    %tr
      %th
        %label{for: "matrix-kind"} Kind/problem domain
      %td
        = f.text_field :kind, class: "form-control"
    %tr
      %th
        %label{for: "matrix-author"} Author
      %td
        = f.text_field :author, class: "form-control"
    %tr
      %th
        %label{for: "matrix-editor"} Editor
      %td
        = f.text_field :editor, class: "form-control"
    %tr
      %th
        %label{for: "matrix-notes"} Notes
      %td
        = f.text_area :notes, class: "form-control", rows: "8", placeholder: "Enter notes here"
    %tr
      %th
        %label{for: "matrix-data-file"} Matrix File Upload
      %td
        = f.file_field :matrix_data_file
    %tr
      %td
        = show_simple_captcha
  = submit_tag("Submit My Matrix")
%br
%br
