%h1 Detail View

%table{:id => "matrices", :class => "table table-striped"}
  %tbody
    %tr
      %th Group
      %td= @matrix.group
    %tr
      %th Name
      %td= @matrix.name
    %tr
      %th Num Rows
      %td= number_with_delimiter(@matrix.num_rows, :delimiter => ',')
    %tr
      %th Num Cols
      %td= number_with_delimiter(@matrix.num_cols, :delimiter => ',')
    %tr
      %th Nonzeros
      %td= number_with_delimiter(@matrix.nonzeros, :delimiter => ',')
    %tr
      %th Kind
      %td= @matrix.kind
    %tr
      %th Symmetric
      %td= @matrix.symmetric
    %tr
      %th Date
      %td= @matrix.date
    %tr
      %th Author
      %td= @matrix.author
    %tr
      %th Editor
      %td= @matrix.editor
    %tr
      %th Notes
      %td= @matrix.notes
    %tr
      %th Download
      %td 
        = link_to "MATLAB", @matrix.get_url("MAT"), class: "btn btn-default"
        = link_to "Rutherford Boeing", @matrix.get_url("RB"), class: "btn btn-default"
        = link_to "Matrix Market", @matrix.get_url("MM"), class: "btn btn-default"
    %tr
      %th Type
      %td= @matrix.rb_type
    %tr
      %th Created At
      %td= @matrix.created_at
    %tr
      %th Updated At
      %td= @matrix.updated_at
