!!! 5
%html{:lang => "en"}
  %head
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Cutive"
    = stylesheet_link_tag 'application', media: 'all'
  %body
    %nav{:class => "navbar navbar-inverse navbar-fixed-top"}
      .container
        .navbar-header
          %h1
            SuiteSparse Matrix Collection
            %small Formerly the University of Florida Sparse Matrix Collection
    .container.theme-showcase.main{role: "main"}
      %p
        A new matrix has been submitted to the Collection:
      %table.table.table-striped
        %tbody
          %tr
            %th Submitter Name
            %td= @new_matrix.submitter_name
          %tr
            %th Submitter Email
            %td= @new_matrix.submitter_email
          %tr
            %th Display Publically?
            %td= @new_matrix.display_email
          %tr
            %th Matrix Name
            %td= @new_matrix.name
          %tr
            %th Kind/Problem Domain
            %td= @new_matrix.kind
          %tr
            %th Notes
            %td= @new_matrix.notes
          %tr
            %th Matrix File URL
            %td= @new_matrix.submitter_url
          %tr
            %th Permission Granted to Display Publically
            %td= @new_matrix.submitter_confidentiality