!!! 5
%html{:lang => "en"}
  %head
    %title UFSMCWeb
    = google_webfonts_init google: ['Istok Web']
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{:role => "document"}
    %nav{:class => "navbar navbar-inverse navbar-fixed-top"}
      .container
        .navbar-header
          %a{:class => "navbar-brand"} Sparse Matrix Collection
        .navbar-collapse.collapse{:id => "navbar"}
          %ul{:class => "nav navbar-nav navbar-right"}
            %li 
              = link_to "Index", root_path
            %li
              = link_to "About", about_path
    .container.theme-showcase{:role => "main"}
      = yield
