!!! 5
%html{:lang => "en"}
  %head
    %title= full_title(yield(:title))
    = google_webfonts_init google: ['Cutive']
    = stylesheet_link_tag    'application', media: 'all', :'data-turbolinks-track' => true
    = javascript_include_tag 'application', :'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{:role => "document"}
    %nav{:class => "navbar navbar-inverse navbar-fixed-top"}
      .container
        .navbar-header
          %button.navbar-toggle{:'data-toggle' => 'collapse', :'data-target' => '#navbar'}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to root_path, class: "navbar-brand" do
            .pull-left{style: "margin-left: -200px; margin-top: -40px;"}
              = image_tag('logo.png')
            %div{style: "position: absolute; color: #fff;"}
              SuiteSparse Matrix Collection
              %small Formerly the University of Florida Sparse Matrix Collection
        .collapse.navbar-collapse{:id => "navbar"}
          %ul{:class => "nav navbar-nav navbar-right"}
            %li{:class => ("active" if yield(:title) == 'Index')}
              = link_to "Index", root_path
            %li{:class => ("active" if yield(:title) == 'About')}
              = link_to "About", about_path
            %li{:class => ("active" if yield(:title) == 'Interfaces')}
              = link_to "Interfaces", "/other_interfaces.html"
            %li{:class => ("active" if yield(:title) == 'Submit Matrix')}
              = link_to "Submit Matrix", "/matrices/new"
    .container.theme-showcase{:role => "main"}
      - if flash[:notice]
        %div.alert.alert-danger
          = flash[:notice]
      = yield
