!!! 5
%html{:lang => "en"}
  %head
    %title= full_title(yield(:title))
    %meta{name: "viewport", content: "width=device-width,initial-scale=0.6"}
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Cutive"
    = stylesheet_link_tag 'application', media: 'all', :'data-turbolinks-track' => true
    = javascript_include_tag 'application', :'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{name:"google-site-verification", content:"r2pRTzxj91fBd9LQN4oiboo32gfV1c8PpalflcYY8XE"}
  %body
    %nav{:class => "navbar navbar-inverse navbar-fixed-top"}
      .container
        .navbar-header
          .navbar-toggle.btn{:'data-toggle' => 'collapse', :'data-target' => '#navbar'}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to root_path, class: "navbar-brand" do
            .pull-left{style: "margin-left: -200px; margin-top: -40px;"}
              = image_tag('logo.png', alt: "SuiteSparse Matrix Collection Logo")
            %h1
              SuiteSparse Matrix Collection
              %small Formerly the University of Florida Sparse Matrix Collection
        .collapse.navbar-collapse{:id => "navbar"}
          %ul{:class => "nav navbar-nav navbar-right"}
            %li{:class => ("active" if yield(:title) == 'Index')}
              = link_to "Index", root_path
            %li{:class => ("active" if yield(:title) == 'About')}
              = link_to "About", about_path
            %li{:class => ("active" if yield(:title) == 'Interfaces')}
              = link_to "Interfaces", "/other_interfaces"
            %li{:class => ("active" if yield(:title) == 'Submit Matrix')}
              = link_to "Submit Matrix", "/submit"
    .container.theme-showcase.main{role: "main", id: "#{yield(:title).downcase.gsub(' ', '-')}-main"}
      - if flash[:danger]
        %div.alert.alert-danger
          = flash[:danger]
      - if flash[:success]
        %div.alert.alert-success
          = flash[:success]
      = yield
  %footer.text-center
    .container
      = link_to "Texas A&M University", "https://www.tamu.edu"
      = " | "
      = link_to "Computer Science & Engineering Department", "https://engineering.tamu.edu/cse/"
      = " | "
      = link_to "Code on GitHub #{fa_icon 'github'}".html_safe, "https://github.com/ScottKolo/suitesparse-matrix-collection-website"
