!!! 5
%html{:lang => "en"}
  %head
    %title= full_title(yield(:title))
    = google_webfonts_init google: ['Istok Web']
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{:role => "document"}
    %nav{:class => "navbar navbar-inverse navbar-fixed-top"}
      .container
        .navbar-header
          = link_to root_path, class: "navbar-brand" do
            SuiteSparse Matrix Collection
            %small Formerly the University of Florida Sparse Matrix Collection
        .navbar-collapse.collapse{:id => "navbar"}
          %ul{:class => "nav navbar-nav navbar-right"}
            %li{:class => ("active" if yield(:title) == 'Index')}
              = link_to "Index", root_path
            %li{:class => ("active" if yield(:title) == 'About')}
              = link_to "About", about_path
    .container.theme-showcase{:role => "main"}
      = yield
